MONGODB_URL=mongodb+srv://23028_db_user:cMXRNHrDR7yyZE3c@cluster0.yvvzlka.mongodb.net/?appName=Cluster0
DATABASE_NAME=app_db

JWT_SECRET_KEY=your-secret-key-change-this-in-production
JWT_ALGORITHM=HS256

JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

SMTP_HOST=smtp.gmail.com
# SMTP server port
SMTP_PORT=587
SMTP_USER=ahmedouvallmohamedlemine@gmail.com
SMTP_PASSWORD=gvpp cqim meqo phwd
EMAIL_FROM=ahmedouvallmohamedlemine@gmail.com
FRONTEND_URL=http://localhost:3000
FRONTEND_VITE_URL=http://localhost:5173

# Refresh token cookie name
REFRESH_TOKEN_COOKIE_NAME=refresh_token
REFRESH_TOKEN_COOKIE_HTTP_ONLY=True
REFRESH_TOKEN_COOKIE_SECURE=False
REFRESH_TOKEN_COOKIE_SAME_SITE=lax

STORAGE_TYPE=local
